<script src="~/js/Login.js"></script>


<div class="login-page" style="background:none !important">
    <div class="login-box">
        <h3 style="display:none">Giriş</h3>

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <label style="font-size:28px"><b>E-Market'e Hoş Geldiniz</b></label>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Giriş Yapınız</p>
                <div class="input-group mb-3">
                    <input type="email" id="email" class="form-control" placeholder="Email" autocomplete="off" value="g@mail.com">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" id="sifre" class="form-control" placeholder="Password" value="awd.123456">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <button type="submit" onclick="Login()" class="btn btn-primary btn-block">Giriş Yap</button>
                    </div>

                </div>
                <p class="mb-1 mt-3">
                    <a href="ForgotPass">Şifremi Unuttum</a>
                </p>
            </div>

        </div>

    </div>
</div>

