<script src="~/js/Product.js"></script>
<link href="~/css/Product.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-2">
        <div class="row mt-5">
            <div class="col-md-12">
                <label>Categories</label>
            </div>
        </div>
        <div class="row" id="categoryRepeatedArea">
        </div>
    </div>
    <div class="col-md-10">
        <div class="row mt-5" id="productRepeatedArea">
        </div>
    </div>

</div>